<h1 align='center'>Add new expense</h1>
<br>
<div align='center'>
<%= form_with scope: :expense, url: expenses_path, local: true do |form| %>
  <p>
    <%= form.label :expense_type %><br>
    <%= form.select :expense_type, ['Travel', 'Lunch', 'Dinner', 'Accommodation']%>
  </p>

  <p>
    <%= form.label :amount %><br>
    <%= form.number_field :amount, :step => '0.01' %>
  </p>


  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
</div>
