<div align='center'>

<h1>Expense Summary</h1>


  <p><strong>Expense type:</strong></p>
  <p><%= @expense.expense_type %></p>


  <p><strong>Amount(£):</strong></p>
  <p><%= @expense.amount %></p>

  <p><strong>Date of expense:</strong></p>
  <p><%= @expense.date %></p>

  <p><strong>Description:</strong></p>
  <p><%= @expense.description %></p>

  <p><strong>Evidence of expense:</strong></p>
    <% if @expense.image.present? %>
      <p><%= image_tag(@expense.image_url.to_s) %></p>
    <% else %>
      <p>No evidence submitted. </p>
    <% end %>

<%= link_to "Your expenses", expenses_path %>

</div>
